hr {
    border: 0 0 1px 0;
    border-color: black;
    clear: both;
}

.centred {
    margin: 0 10% 0 10%;
}

.footer {
    margin: 0 10% 0 10%;
    clear: both;
}

.threed-stats {
    border: 3px solid red;
    padding: 2em;
    background-color: green;
    float: right;
    top: 2em;
    left: 2em;
    position: inherit;
}

