<div>
    <nav>
        <a routerLink="/about" routerLinkActive="active"> About </a>
        |
        <a routerLink="/nodes" routerLinkActive="active"> Nodes </a> 
        |
        <a routerLink="/recordings" routerLinkActive="active"> Recordings </a> 
        |
        <a routerLink="/assemblies" routerLinkActive="active"> Assemblies </a>
        |
        <a routerLink="/system" routerLinkActive="active"> System </a>
    </nav>
    <div class="centered">
        <hr/>
        <b class="centred">Motion Capture Systems {{title}}</b>
        <hr/>
    <div class="centered">
<div>
<main>
<router-outlet></router-outlet>
</main>

<hr/>
<footer class="footer">
    © 2014-2017 Jon. Kelly, Motion Capture Systems

    <pre>TO DO
    1. fix rotation about Z axis being mirrored
    2. remove defunct nodes from display
    3. fix issue where changing pages can hide nodes in the node page
    4. look at efficiency of calling requestAnimationFrame
    5. look at recorded movement analysis (fourier?)
    6. implement limb assembly
    </pre>

</footer>

