<span>Router 
        <span *ngIf="!getCommunicationStatus()"> NOT </span>
        Detected
</span>

<div>
    <table>
        <tr>
            <th>#</th>
            <th>address</th>
            <th>last-heard</th>
            <th>latency</th>
            <th>monitoring</th>
        </tr>
        <ng-template ngFor let-address [ngForOf]="nodeAddresses" let-i="index">
            <tr (click)="openNodeControl(address)" [class.selectedTop]="selectedNodeAddress === address">
            <td>#{{ i }}</td>
            <td>{{ address }}</td>
            <td>{{ nodeData[address].lasttime / 1000 | number : '1.2-2' }}</td>
            <td>{{ (now - nodeData[address].lasttime) / 1000 | number : '1.2-2' }}</td>
            <td [ngSwitch]="monitor[address].active">
                <span *ngSwitchCase="true"><button (click)="monitorNode(address, 0, false)">Stop</button> Monitoring</span>
                <span *ngSwitchCase="false"><button (click)="monitorNode(address, 0, true)">Start</button> Monitoring</span>
            </td>

        </tr>
        </ng-template>
    </table>

    Spectrum Bandwidth
    <select [(ngModel)]="spectrumBandwidth" (change)="setPlottingData(sr)">
        <option [ngValue]="0.5">0.5</option>
        <option [ngValue]="1">1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
    </select> Hz

    <div>Spectrum Bandwidth: {{ spectrumBandwidth }}Hz</div>
    <div>Sample Rate: {{ sr }}Hz</div>
<div class="row bordered-panel">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas class="centred-chart" baseChart
                                          [datasets]="spectrumChartData"
                                          [labels]="spectrumChartLabels"
                                          [options]="spectrumChartOptions"
                                          [colors]="spectrumChartColors"
                                          [legend]="spectrumChartLegend"
                                          [chartType]="spectrumChartType"></canvas>
        </div>
    </div>
</div>

<div>
    <table>
        <tr>
            <th>Axis</th>
            <th *ngFor="let freq of xFreqsSorted; let i = index">Freq (Hz) {{ i }}</th>
        </tr>
        <tr>
            <td>X</td>
            <td *ngFor="let freq of xFreqsSorted">{{ freq }}</td>
        </tr>
        <tr>
            <td>Y</td>
            <td *ngFor="let freq of yFreqsSorted">{{ freq }}</td>
        </tr>
        <tr>
            <td>Z</td>
            <td *ngFor="let freq of zFreqsSorted">{{ freq }}</td>
        </tr>
    </table>
</div>
<div class="row bordered-panel">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas #xyzplot class="centred-chart" baseChart 
                                          [datasets]="lineChartData"
                                          [labels]="lineChartLabels"
                                          [options]="lineChartOptions"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartType"
                                          (chartHover)="chartHovered($event)"
                                          (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>sample#</th>
        <th>seconds</th>
        <th>timestamp</th>
        <th>q.x</th>
        <th>q.y</th>
        <th>q.z</th>
        <th>q.w</th>
        <th>x</th>
        <th>y</th>
        <th>z</th>
    </tr>
    <ng-template ngFor let-row [ngForOf]="data" let-i="index">
        <tr>
            <td>{{ i }}</td>
            <td>{{ row.time | number : "1.3-3" }}</td>
            <td>{{ row.ts }}</td>
            <td>{{ row.x }}</td>
            <td>{{ row.y }}</td>
            <td>{{ row.z }}</td>
            <td>{{ row.w }}</td>
            <td>{{ row.ex }}</td>
            <td>{{ row.ey }}</td>
            <td>{{ row.ez }}</td>
        </tr>
    </ng-template>
</table>
