th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
}

th.spec {   
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #B4AA9D;
}

td {
    border-left: 1px solid #C1DAD7;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #6D929B;
}


td.alt {
    background: #F5FAFA;
    color: #B4AA9D;
}

td.special {
    background: #F5FAFA;
    color: #B43333;
}

td.good {
    background: #F5FAFA;
    color: #33B433;
}

td.bad {
    background: #ffa0a0;
    color: #B43333;
}
td.unknown {
    background: #e0e0e0;
    color: #7f7f7f;
}

.left-panel {
    float: left;
    border: 1px solid #c1dad7;
}

.right-panel {
    float: left;
    padding-left: 2%;
}
