<div class="left-panel">
    <canvas #sysCanvas width="600" height="600">
    </canvas>
</div>
<div class="right-panel">
    <table>
        <tr>
            <th class="spec">Component</th>
            <th>Status</th>
        </tr>
        <tr>
            <td class="alt">TCP/IP Link</td>
            <td [class]="getClass(getSystemStatus().tcpip)">{{ getSystemStatus().tcpip }}</td>
        </tr>
        <tr>
            <td class="alt">Biot Broker</td>
            <td [class]="getClass(getSystemStatus().biotbroker)">{{ getSystemStatus().biotbroker }}</td>
        </tr>
        <tr>
            <td class="alt">UDP/IP Link</td>
            <td [class]="getClass(getSystemStatus().udpip)">{{ getSystemStatus().udpip }}</td>
        </tr>
        <tr>
            <td class="alt">Edge Router</td>
            <td [class]="getClass(getSystemStatus().edgerouter)">{{ getSystemStatus().edgerouter }}</td>
        </tr>
        <tr>
            <td class="alt">Biot Nodes</td>
            <td [class]="getClass(getSystemStatus().biots)">{{ getSystemStatus().biots }}</td>
        </tr>
    </table>
    <br/>
    <button type="button" class="btn btn-default" (click)="toggleStatus('tcpip')">Recheck TCP/IP Link</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('biotbroker')">Recheck Biot Broker Status</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('udpip')">Recheck UDP/IP Link</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('edgerouter')">Recheck Edge Router Status</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('biots')">Recheck Biot Node Status</button>
    <br/>
    <br/>
    <table>
        <tr>
            <th class="spec">Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td class="alt">Last Checked</td>
            <td class="good">{{ routerStatus.time }}</td>
        </tr>
        <tr>
            <td class="alt">BIOT Broker System</td>
            <td>{{ routerStatus.title }}</td>
        </tr>
        <tr>
            <td class="alt">Status</td>
            <td>{{ routerStatus.status }}</td>
        </tr>
        <tr>
            <td class="alt">Description</td>
            <td>{{ routerStatus.description }}</td>
        </tr>
        <tr>
            <td class="alt">Version</td>
            <td>{{ routerStatus.version }}</td>
        </tr>
        <tr *ngFor="let link of routerStatus.links; let i = index">
            <td class="alt">Resource #{{ i}}</td>
            <td>{{ link }}</td>
        </tr>
        <tr>
            <td class="alt">Detected Biot Nodes</td>
            <td>{{ nodeStatus.count }}</td>
        </tr>

        <tr *ngFor="let address of nodeStatus.addresses; let i = index">
            <td>#{{ i }} {{ address }}</td>
            <td class="special">{{ nodeStatus.nodeData[address] }} </td>
        </tr>
    </table>
</div>
