<div class="left-panel">
    <canvas #sysCanvas width="600" height="600">
    </canvas>
</div>
<div class="right-panel">
    <table>
        <tr>
            <th class="spec">Component</th>
            <th>Status</th>
        </tr>
        <tr>
            <td class="alt">TCP/IP Link</td>
            <td [class]="getClass(getSystemStatus().tcpip)">{{ getSystemStatus().tcpip }}</td>
            <td [hidden]="getSystemStatus().tcpip === 'OK'" [class]="getClass(getSystemStatus().tcpip)">check network connection to host running biot broker - ping {{ biotBrokerIP }}</td>
        </tr>
        <tr>
            <td class="alt">Biot Broker</td>
            <td [class]="getClass(getSystemStatus().biotbroker)">{{ getSystemStatus().biotbroker }}</td>
            <td [hidden]="getSystemStatus().biotbroker === 'OK'" [class]="getClass(getSystemStatus().biotbroker)">check biot broker application is running - <a href="http://{biotBrokerIP:8889}}/">link</a></td>
        </tr>
        <tr>
            <td class="alt">UDP/IP Link</td>
            <td [class]="getClass(getSystemStatus().udpip)">{{ getSystemStatus().udpip }}</td>
            <td [hidden]="getSystemStatus().udpip === 'OK'" [class]="getClass(getSystemStatus().udpip)">check tunslip interface - from broker host ping6 affe::1</td>
        </tr>
        <tr>
            <td class="alt">Edge Router</td>
            <td [class]="getClass(getSystemStatus().edgerouter)">{{ getSystemStatus().edgerouter }}</td>
            <td [hidden]="getSystemStatus().edgerouter === 'OK'" [class]="getClass(getSystemStatus().edgerouter)">check edge router working - check router and from broker host ping6 affe::2</td>
        </tr>
        <tr>
            <td class="alt">Biot Nodes</td>
            <td [class]="getClass(getSystemStatus().biots)">{{ getSystemStatus().biots }}</td>
            <td [hidden]="getSystemStatus().biots === 'OK'" [class]="getClass(getSystemStatus().biots)">check if any biot nodes running</td>
        </tr>
    </table>
    <br/>
    <button type="button" class="btn btn-default" (click)="toggleStatus('tcpip')">Recheck TCP/IP Link</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('biotbroker')">Recheck Biot Broker Status</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('udpip')">Recheck UDP/IP Link</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('edgerouter')">Recheck Edge Router Status</button>
    <button type="button" class="btn btn-default" (click)="toggleStatus('biots')">Recheck Biot Node Status</button>
    <br/>
    <br/>
    <table>
        <tr>
            <th class="spec">Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td class="spec">Biot Broker IP</td>
            <td>{{ biotBrokerIP }}</td>
        </tr>
        <tr>
            <td class="spec">Biot Broker Port</td>
            <td>{{ biotBrokerPort }}</td>
        </tr>
        <tr>
            <td class="alt">Last Checked</td>
            <td class="good">{{ routerStatus.time }}</td>
        </tr>
        <tr>
            <td class="alt">BIOT Broker System</td>
            <td>{{ routerStatus.title }}</td>
        </tr>
        <tr>
            <td class="alt">Status</td>
            <td>{{ routerStatus.status }}</td>
        </tr>
        <tr>
            <td class="alt">Description</td>
            <td>{{ routerStatus.description }}</td>
        </tr>
        <tr>
            <td class="alt">Version</td>
            <td>{{ routerStatus.version }}</td>
        </tr>
        <tr *ngFor="let link of routerStatus.links; let i = index">
            <td class="alt">Resource #{{ i}}</td>
            <td>{{ link }}</td>
        </tr>
        <tr>
            <td class="alt">Detected Biot Nodes</td>
            <td>{{ nodeStatus.count }}</td>
        </tr>

        <tr *ngFor="let address of nodeStatus.addresses; let i = index">
            <td>#{{ i }} {{ address }}</td>
            <td class="special">{{ nodeStatus.nodeData[address] }} </td>
        </tr>
    </table>
    <div class="debug" #debugHolder [scrollTop]="debugHolder.scrollHeight">
        <div *ngFor="let txt of debugHistory; let i = index" >{{ i }} : {{ txt }}</div>
    </div>
</div>
