<button (click)="saveAssemblyDialog.show({});">Save This Assembly</button>
<button (click)="loadAssemblyDialog.show({});">Load Previous Assembly</button>
<div appThreed [displaywidth]="1400" [displayheight]="800" class="centred"></div>
<div appThreestats [statsstyle]="{position: 'inherit', float: 'left', display: 'flex'}"></div>
<div>
    <button (click)="threedService.viewFrom(0, 0, 1);">Top</button>
    <button (click)="threedService.viewFrom(0, 0, -1);">Bottom</button>
    <button (click)="threedService.viewFrom(1, 0, 0);">Front</button>
    <button (click)="threedService.viewFrom(-1, 0, 0);">Back</button>
    <button (click)="threedService.viewFrom(0, 1, 0);">Left Side</button>
    <button (click)="threedService.viewFrom(0, -1, 0);">Right Side</button>
    <button (click)="toggleFigure();">Show/Hide Figure</button>
    <button (click)="toggleEnvelopes();">Show/Hide Envelopes</button>
</div>
<div>
    <span><b>Limb Assembly</b>&nbsp;<span class="hint">(click row to edit)</span></span>
    <table>
        <tr>
            <th>colour</th>
            <th>name</th>
            <th>limb length</th>
            <th>limb model</th>
            <th>biot address</th>
            <th>attached to</th>
            <th>adjust rotation X</th>
            <th>adjust rotation Y</th>
            <th>adjust rotation Z</th>
            <th>&nbsp;</th>
        </tr>
        <ng-template ngFor let-address [ngForOf]="knownNodeAddresses" let-i="index">
        <tr (click)="openLimbControl(address)" [class.selectedTop]="selectedLimbAddress === address">
            <td [style.background-color]="knownLimbs[address].userData.colour">#{{ i }}&nbsp;</td>
            <td>{{ knownLimbs[address].userData.displayName }}</td>
            <td>{{ knownLimbs[address].userData.limbLength }}</td>
            <td>{{ knownLimbs[address].userData.limbModelName }}</td>
            <td [style.color]="knownLimbs[address].userData.colour">{{ address }}</td>
            <td>{{ knownLimbs[address].userData.parentLimbName }}</td>
            <td>{{ knownLimbs[address].userData.limbRotationX | rad2deg: true }}</td>
            <td>{{ knownLimbs[address].userData.limbRotationY | rad2deg: true }}</td>
            <td>{{ knownLimbs[address].userData.limbRotationZ | rad2deg: true }}</td>
            <td [style.background-color]="knownLimbs[address].userData.colour">&nbsp;</td>
        </tr>
        </ng-template>
    </table>
</div>
    <div class="debug" #debugHolder [scrollTop]="debugHolder.scrollHeight">
        <div *ngFor="let txt of debugHistory; let i = index" >{{ i }} : {{ txt }}</div>
    </div>

<app-dialog #nodeLimbDialog>
    <div class="app-modal-header">
        Biot Node: <b>{{ selectedLimbAddress }}</b>
    </div>
    <div class="app-modal-body">
        Name <input type="text" name="limbName" [(ngModel)]="selectedLimb.name" /><br/>

        <div *ngIf="selectedLimb.potentialParentLimbs.length > 0">
        Parent Limb Name
        <select [(ngModel)]="selectedLimb.parentLimbName">
            <option [ngValue]="'none'">none</option>
            <ng-template ngFor let-parent [ngForOf]="selectedLimb.potentialParentLimbs">
                <option [ngValue]="parent">{{ parent }}</option>
            </ng-template>
        </select>
        </div><br/>

        Limb Model
        <select [(ngModel)]="selectedLimb.limbModelName">
        <ng-template ngFor let-model [ngForOf]="knownModels" let-i="index">
            <option [ngValue]="model">{{ model }}</option>
        </ng-template>
        </select>
        <br/>
        length cm 
        <mat-slider min="1" max="50" step="0.5" value="30" tickInterval="5" thumbLabel (input)="adjustLimbLength(selectedLimbAddress, $event.value)"></mat-slider>
        <div> {{ selectedLimb.limbLength }} </div><br/>
        rotation X
        <mat-slider #xrot min="-180" max="180" step="1" value="0" tickInterval="30" thumbLabel (input)="adjustLimbRotationX(selectedLimbAddress, $event.value)"></mat-slider>
        <div> {{ selectedLimb.limbRotationX | rad2deg: true  }} </div><br/>
        rotation Y
        <mat-slider #yrot min="-180" max="180" step="1" value="0" tickInterval="30" thumbLabel (input)="adjustLimbRotationY(selectedLimbAddress, $event.value)"></mat-slider>
        <div> {{ selectedLimb.limbRotationY | rad2deg: true  }} </div><br/>
        rotation Z
        <mat-slider #zrot min="-180" max="180" step="1" value="0" tickInterval="30" thumbLabel (input)="adjustLimbRotationZ(selectedLimbAddress, $event.value)"></mat-slider>
        <div> {{ selectedLimb.limbRotationZ | rad2deg: true  }} </div><br/>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="nodeLimbDialog.hide()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="updateLimb(selectedLimbAddress); nodeLimbDialog.hide()">Save Values</button>
    </div>
</app-dialog>

<app-dialog #saveAssemblyDialog>
    <div class="app-modal-header">
        <b>Save Assembly</b>
    </div>
    <div class="app-modal-body">
        Assembly Name <input type="text" name="assemblyNameSave" [(ngModel)]="currentAssemblyName" /><br/>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="saveAssemblyDialog.hide()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="saveAssembly(currentAssemblyName); saveAssemblyDialog.hide()">Save Assembly</button>
    </div>
</app-dialog>

<app-dialog #loadAssemblyDialog>
    <div class="app-modal-header">
        <b>Load Assembly</b>
    </div>
    <div class="app-modal-body">
        <select [(ngModel)]="currentAssemblyName">
        <ng-template ngFor let-assembly [ngForOf]="knownAssemblies" let-i="index">
            <option [ngValue]="assembly">{{ assembly }}</option>
        </ng-template>
        </select>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="loadAssemblyDialog.hide()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="loadAssembly(currentAssemblyName); loadAssemblyDialog.hide()">Load Assembly</button>
    </div>
</app-dialog>
