<div class="row">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas class="centred" baseChart width="400" height="400"
                                          [datasets]="lineChartData"
                                          [labels]="lineChartLabels"
                                          [options]="lineChartOptions"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartType"
                                          (chartHover)="chartHovered($event)"
                                          (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas class="centred" baseChart width="400" height="400"
                                          [datasets]="spectrumChartData"
                                          [labels]="spectrumChartLabels"
                                          [options]="spectrumChartOptions"
                                          [colors]="spectrumChartColors"
                                          [legend]="spectrumChartLegend"
                                          [chartType]="spectrumChartType"></canvas>
        </div>
    </div>
</div>


<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">Show/Hide Numerical Data</button>
<table>
    <tr>
        <td>Address</td><td>{{ currentRecording.address }}</td>
    </tr>
    <tr>
        <td>Sample Rate</td><td>{{ currentRecording.sampleRate }} Hz</td>
    </tr>
    <tr>
        <td>Interval</td><td>{{ currentRecording.interval }} seconds</td>
    </tr>
    <tr>
        <td>Count</td><td>{{ currentRecording.count }} samples</td>
    </tr>
</table>

<table *ngIf="! isCollapsed">
    <tr>
        <td>milliseconds</td>
        <td>timestamp</td>
        <td>q.x</td>
        <td>q.y</td>
        <td>q.z</td>
        <td>q.w</td>
        <td>x</td>
        <td>y</td>
        <td>z</td>
    </tr>
    <tr *ngFor="let row of data">
        <td>{{ row.time }}</td>
        <td>{{ row.ts }}</td>
        <td>{{ row.x }}</td>
        <td>{{ row.y }}</td>
        <td>{{ row.z }}</td>
        <td>{{ row.w }}</td>
        <td>{{ row.ex }}</td>
        <td>{{ row.ey }}</td>
        <td>{{ row.ez }}</td>
    </tr>
</table>
