.bordered-panel {
    border: 1px solid grey;
}

.centred {
    margin: 0 10% 0 10%;
}

.centred-chart {
    /*width: 800px;
    height: 400px;*/
    float: left;
}

.cursor {
    position: absolute;
    border: 1px solid grey;
    background-color: green;
    opacity: 0.3;
    width: 5px;
    top: 180px;
    height: 350px;
    left: 50px;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #6D929B;
    background: #d0d0d0;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
}

th.spec {   
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
    color: #B4AA9D;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #e0e0e0;
    padding: 6px 6px 6px 12px;
    color: #6D929B;
}



td.alt {
    background: #F5FAFA;
    color: #B4AA9D;
}

td.special {
    background: #F5FAFA;
    color: #B43333;
}
