<div class="equispace10">
    <button type="button" class="btn btn-success" *ngIf="!isPlaying" (click)="isPlaying = true; replay();">play</button>
    <button type="button" class="btn btn-warning" *ngIf="isPlaying" (click)="isPlaying = false;">pause</button>
    <button type="button" class="btn btn-success" [disabled]="replayPosition === 0 || isPlaying" (click)="i = 0; setCursor(0); replayStart = 0; replay()">Reset to Start</button>
    <button type="button" class="btn btn-info" [disabled]="isPlaying" (click)="replay();">Step Forward</button>
    <button type="button" class="btn btn-info" [disabled]="isPlaying" (click)="i = i - 2; replay();">Step Backwards</button>
    <button type="button" class="btn btn-info" *ngIf="! isLooping" (click)="isLooping = ! isLooping;">Repeat</button>
    <button type="button" class="btn btn-info" *ngIf="isLooping" (click)="isLooping = ! isLooping;">Play Once</button>
</div>
<div class="status equispace20">
    <span *ngIf="! isPlaying">Paused</span>
    <span *ngIf="isLooping">Repeat</span>
    <span *ngIf="! isLooping">Single Play</span>
    <span>t={{(replayPosition * currentRecording.interval) | number:'2.3'}}</span>
</div>

<div class="row bordered-panel">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas #xyzplot class="centred-chart" baseChart 
                                          [datasets]="lineChartData"
                                          [labels]="lineChartLabels"
                                          [options]="lineChartOptions"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartType"
                                          (chartHover)="chartHovered($event)"
                                          (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <div appThreed [displaywidth]="800" [displayheight]="400" class="centred-chart"></div>
</div>
<div class="cursor" [style.left]="cursorPosition + 'px'">&nbsp;</div>
<div class="row bordered-panel">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas class="centred-chart" baseChart
                                          [datasets]="spectrumChartData"
                                          [labels]="spectrumChartLabels"
                                          [options]="spectrumChartOptions"
                                          [colors]="spectrumChartColors"
                                          [legend]="spectrumChartLegend"
                                          [chartType]="spectrumChartType"></canvas>
        </div>
    </div>
</div>


<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">Show/Hide Numerical Data</button>
<table>
    <tr>
        <td>Address</td><td>{{ currentRecording.address }}</td>
    </tr>
    <tr>
        <td>Sample Rate</td><td>{{ currentRecording.sampleRate }} Hz</td>
    </tr>
    <tr>
        <td>Interval</td><td>{{ currentRecording.interval }} seconds</td>
    </tr>
    <tr>
        <td>Count</td><td>{{ currentRecording.count }} samples</td>
    </tr>
</table>

<table *ngIf="! isCollapsed">
    <tr>
        <td>seconds</td>
        <td>timestamp</td>
        <td>q.x</td>
        <td>q.y</td>
        <td>q.z</td>
        <td>q.w</td>
        <td>x</td>
        <td>y</td>
        <td>z</td>
    </tr>
    <tr *ngFor="let row of data">
        <td>{{ row.time }}</td>
        <td>{{ row.ts }}</td>
        <td>{{ row.x }}</td>
        <td>{{ row.y }}</td>
        <td>{{ row.z }}</td>
        <td>{{ row.w }}</td>
        <td>{{ row.ex }}</td>
        <td>{{ row.ey }}</td>
        <td>{{ row.ez }}</td>
    </tr>
</table>
