<div class="row">
    <div class="col-md-6">
        <div style="display: block;">
            <canvas class="centred" baseChart width="1800" height="1800"
                                          [datasets]="lineChartData"
                                          [labels]="lineChartLabels"
                                          [options]="lineChartOptions"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartType"
                                          (chartHover)="chartHovered($event)"
                                          (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">Show/Hide Numerical Data</button>

<table *ngIf="! isCollapsed">
    <tr>
        <td>milliseconds</td>
        <td>timestamp</td>
        <td>q.x</td>
        <td>q.y</td>
        <td>q.z</td>
        <td>q.w</td>
        <td>x</td>
        <td>y</td>
        <td>z</td>
    </tr>
    <tr *ngFor="let row of data">
        <td>{{ row.time }}</td>
        <td>{{ row.ts }}</td>
        <td>{{ row.x }}</td>
        <td>{{ row.y }}</td>
        <td>{{ row.z }}</td>
        <td>{{ row.w }}</td>
        <td>{{ row.ex }}</td>
        <td>{{ row.ey }}</td>
        <td>{{ row.ez }}</td>
    </tr>
</table>
