<button *ngIf="!getCommunicationStatus()" (click)="resetService();">Retry Router Detection</button>
<button (click)="dropNodes();">Redraw Nodes</button><br/>
<div appThreed [displaywidth]="1400" [displayheight]="400" class="centred"></div>
<div appThreestats [statsstyle]="{position: 'inherit', float: 'left', display: 'flex'}"></div>
<hr/>
<span>
    Auto Zoom
    <input type="radio" name="autozoom" value="1" (click)="autoZoom = 1" [(ngModel)]="autoZoom">On
    <input type="radio" name="autozoom" value="0" (click)="autoZoom = 0" [(ngModel)]="autoZoom">Off
</span>

<span>Router 
        <span *ngIf="!getCommunicationStatus()"> NOT </span>
        Detected
</span>

<div>
    <table>
        <tr>
            <th>colour</th>
            <th>#</th>
            <th>address</th>
            <th>name</th>
            <th>time-stamp</th>
            <th>last-heard</th>
            <th>delay</th>
            <th>x</th>
            <th>y</th>
            <th>z</th>
            <th class="w10em">quat x</th>
            <th class="w10em">quat y</th>
            <th class="w10em">quat z</th>
            <th class="w10em">quat w</th>
            <th class="w20em">calibration</th>
            <th>auto<br/>calibrate<br/>mode</th>
            <th>LED mode</th>
            <th>DOF</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
        <ng-template ngFor let-address [ngForOf]="nodeAddresses" let-i="index">
            <tr (click)="openNodeControl(address)" [class.selectedTop]="selectedNodeAddress === address">
            <td [style.background-color]="nodeModels[address].userData.colour">&nbsp;</td>
            <td>#{{ i }}</td>
            <td [style.color]="nodeModels[address].userData.colour">{{ address }}</td>
            <td>{{ nodeData[address].configuration.name }}</td>
            <td>{{ nodeData[address].timeStamp }}</td>
            <td>{{ nodeData[address].lasttime }}</td>
            <td  [class.bad]="nodeData[address].lastHeardSame >= 3">{{ nodeData[address].lastHeardSame }}</td>
            <td>{{ nodeData[address].position[0] }}</td>
            <td>{{ nodeData[address].position[1] }}</td>
            <td>{{ nodeData[address].position[2] }}</td>
            <td>{{ nodeData[address].quaternion.x | number: '1.3-5' }}</td>
            <td>{{ nodeData[address].quaternion.y | number: '1.3-5' }}</td>
            <td>{{ nodeData[address].quaternion.z | number: '1.3-5' }}</td>
            <td>{{ nodeData[address].quaternion.w | number: '1.3-5' }}</td>
            <td>{{ nodeData[address].configuration.calibration }}</td>
            <td>{{ nodeData[address].configuration.auto }}</td>
            <td>{{ nodeData[address].configuration.led }}</td>
            <td>{{ nodeData[address].configuration.dof }}</td>
            <td [style.background-color]="nodeModels[address].userData.colour">&nbsp;</td>
        </tr>
        <tr *ngIf="selectedNodeAddress === address" [class.selectedBottom]="selectedNodeAddress === address">
            <td [style.background-color]="nodeData[address].colour">&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <button class="btn btn-primary" (click)="alertNode(address)">Identify Node</button>
            </td>
            <td>
                <button class="btn btn-primary" (click)="nameNode(address)">Rename Node</button>
            </td>
            <td>
                <button class="btn btn-primary" [disabled]="recordingActive[address]" (click)="recordNode(address)">Record Node</button>
                <button class="btn btn-success" [disabled]="recordingActive[address] || (! hasRecording(address))" (click)="getNodeRecording(address)">Analyse Recording</button>
                <button class="btn btn-success" [disabled]="recordingActive[address] || (! hasRecording(address))" (click)="replayNodeRecording(address)">Replay Recording</button>
                <span *ngIf="recordingActive[address]" class="btn btn-danger">Recording...</span>
            </td>
            <td colspan="8">&nbsp;</td>
            <td colspan="2">
                <input type="radio" name="calibrate2" value="0" (click)="setCalibrateMode(address, 0)" [(ngModel)]="selectedNodeCalMode">Stop Calibration<br/>
                <input type="radio" name="calibrate2" value="1" (click)="setCalibrateMode(address, 1)" [(ngModel)]="selectedNodeCalMode">Calibration On<br/>
                <input type="radio" name="calibrate2" value="2" (click)="setCalibrateMode(address, 2)" [(ngModel)]="selectedNodeCalMode">Reset and Restart Calibration<br/>
                <input type="radio" name="calibrate2" value="3" (click)="setCalibrateMode(address, 3)" [(ngModel)]="selectedNodeCalMode">Reset and Stop Calibration<br/>
            </td>
            <td colspan="2">&nbsp;</td>
            <td [style.background-color]="nodeData[address].colour">&nbsp;</td>
        </tr>
        </ng-template>
    </table>
    <div class="debug" #debugHolder [scrollTop]="debugHolder.scrollHeight">
        <div *ngFor="let txt of debugHistory; let i = index" >{{ i }} : {{ txt }}</div>
    </div>
</div>

<app-dialog #nodeRenameDialog>
    <div class="app-modal-header">
        Rename Node: <b>{{ selectedNodeAddress }}</b>
    </div>
    <div class="app-modal-body">
        <span>Current Name: {{ selectedNodeName}}</span>
        <input type="text" name="name" [(ngModel)]="candidateNodeName" />
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="nodeRenameDialog.hide()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="rename(selectedNodeAddress, candidateNodeName); nodeRenameDialog.hide()">Save</button>
    </div>
</app-dialog>

<app-dialog #nodeRecordDialog>
    <div class="app-modal-header">
        Record Node: <b>{{ selectedNodeAddress }}</b>
    </div>
    <div class="app-modal-body">
        Record <input type="text" name="seconds" [(ngModel)]="recordSeconds" /> Seconds
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="nodeRecordDialog.hide()">Cancel</button>
        <button type="button" class="btn btn-default" (click)="startRecordingNode(selectedNodeAddress); nodeRecordDialog.hide()">Record Data</button>
    </div>
</app-dialog>



